<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product About</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
<body>
        <div class="row">
                <h1 class="hide">Home</h1>
                <div class="headerBar">
                  <nav class="small-12">
                    <h2 class="hide">Main Navigation</h2>
      
                      <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="none">
                          
                        <div class="title-bar-right">
                      
                          <div class="small-6 small-centered medium-6 medium-centered large-3 large-centered columns">
                            <a href="#">
                              <img src="img/logo_white.svg" alt="Logo" id="mainLogo">
                            </a>
                          <button class="menu-icon" type="button" data-toggle="main-menu"></button>
                        </div>
                        <div class="title-bar-title"></div>
                      </div>
                      </div>   
                      </div>
      
                      <div id="main-menu">
                        <ul id="menu">
                          <li><a href="#">HOME</a></li>
                          <li><a href="#">ABOUT</a></li>
                        </ul>
                      </div>
                    </nav>
              </div>
            </div>
            </header>  

            <div class="row" id="about1">
                <h2 class="hide">Detail One</h2>
                    <div class="small-6 columns">
                        <img src="img/side1.png" alt="cube side one" id="sidePic1">
                    </div>
                    <div class="small-6 columns" id="sideInfo1">
                        <h3>Feature One</h3>
                        <p>Our first side is just the right combination of pushing your buttons! Instead of annoying coworkers always crossing the line with their petty jokes, care to push these buttons to relieve stress, anxiety, and worrying about your dog tearing up the sofa back at home!</p>
                    </div>
            </div>   
            
            <div class="row" id="about2">
                    <h2 class="hide">Detail Two</h2>
                        <div class="small-6 columns">
                            <img src="img/side2.png" alt="cube side two" id="sidePic2">
                        </div>
                        <div class="small-6 columns" id="sideInfo2">
                            <h3>Feature Two</h3>
                            <p>The second side offers a soothing, satisfying glide that will get you addicted to never stop spinning! This incredibly smooth, plastic circle spins around forever and ever, with the nub that reaches out to grip your thumb. Use it when you can’t remember a deep thought!</p>
                        </div>
            </div>  

            <div class="row" id="about3">
                    <h2 class="hide">Detail Three</h2>
                        <div class="small-6 columns">
                            <img src="img/side3.png" alt="cube side three" id="sidePic3">
                        </div>
                        <div class="small-6 columns" id="sideInfo3">
                            <h3>Feature Three</h3>
                            <p>One of our newest integrations in our fidget cubes is a relaxing, healing indent that fits your thumb perfectly is the healing stone shape side! This side is described by our customers as the hug that fits in your pocket. Use it when you’re feeling anxious to feel like you have a safe little spot, for your thumb!</p>
                        </div>
            </div>  

            <div class="row" id="about4">
                    <h2 class="hide">Detail Four</h2>
                        <div class="small-6 columns">
                            <img src="img/side4.png" alt="cube side four" id="sidePic4">
                        </div>
                        <div class="small-6 columns" id="sideInfo4">
                            <h3>Feature Four</h3>
                            <p>This side is for everyone who loved to flip switches over and over again throughout their childhood, now you don’t have to waste electricity though! And not to mention your mom won’t be super annoyed now!</p>
                        </div>
            </div> 

            <div class="row" id="about5">
                    <h2 class="hide">Detail Five</h2>
                        <div class="small-6 columns">
                            <img src="img/side5.png" alt="cube side five" id="sidePic5">
                        </div>
                        <div class="small-6 columns" id="sideInfo5">
                            <h3>Feature Five</h3>
                            <p>A classic button indent that is satisfying, relieving, and allows you to play the villain that summons the guard dogs in every spy movie, sadly this does not come equipped with the key and plastic lift up case!</p>
                        </div>
            </div> 

            <div class="row" id="about6">
                    <h2 class="hide">Detail Six</h2>
                        <div class="small-6 columns">
                            <img src="img/side6.png" alt="cube side six" id="sidePic6">
                        </div>
                        <div class="small-6 columns" id="sideInfo6">
                            <h3>Feature Six</h3>
                            <p>Our last side is for lovers of the gym, cyclists, and anyone who enjoys spinning little locks! Spin these tiny gears endlessly without having to worry about messing up your locker combination. Ahh, sweet peace!</p>
                        </div>
            </div> 

    <footer>
        <div class="row" id="footerText">Copyright &copy; FID Inc. 2019</div>
    </footer>  

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/main.js"></script>
</body>
</html>
