<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Index</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

      <div class="row">
          <h1 class="hide">Home</h1>
          <div class="headerBar">
            <nav class="small-12">
              <h2 class="hide">Main Navigation</h2>

                <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="none">
                    
                  <div class="title-bar-right">
                
                    <div class="small-6 small-centered medium-6 medium-centered large-3 large-centered columns">
                      <a href="#">
                        <img src="img/logo_white.svg" alt="Logo" id="mainLogo">
                      </a>
                    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
                  </div>
                  <div class="title-bar-title"></div>
                </div>
                </div>   
                </div>

                <div id="main-menu">
                  <ul id="menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                  </ul>
                </div>
              </nav>
        </div>
      </div>
      </header>  
 
    <div class="row" id="headerImg">
        <h2 class="hide">Main</h2>
        <div class="small-12 medium-12 large-12 columns">
          <img src="img/bg3.jpg" id="mainBg">
          <div id="mainBgText">
          <h2>Your Pressure Releaser</h2>
          <a class="button large-expanded" id="mainBth" href="#">Learn More</a>
          </div>
        </div>  
      </div>
      

      <div class="row" id="aboutInfo">
          <h2 class="hide">Info</h2>
              <div class="small-12 columns">
                  <h1>The Newest Fidget Cube</h1>
                     <h2>For a Better You</h2>
                    <p>Fidget Cube has six sides. Each side features something to fidget with: Click. Glide. Flip. Breathe. Roll. Spin.</p>
              </div>
                <img src="img/cube1.png" alt="white cube">
        </div>    

        <div class="row" id="Info">
            <h2 class="hide">Info 2</h2>
                <div class="small-12 columns">
                       <h2>Main Features:</h2>
                      <p>Ultra durable and extremely lightweight. Help you stay relieved and stress-free, all day long</p>
                </div>
                  <img src="img/item.jpg" alt="cube">
          </div>     

        <footer>
            <div class="row" id="footerText">
              Copyright &copy; FID Inc. 2019
            </div>
          </footer>  
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
