
h2 {
    font-family: Impact, Helvetica, sans-serif;
}

/* main Nav */
#mainNav {
    background-color: black;
}

#mainLogo {
    max-width: 10%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}

#menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#menu li a {
    display: block;
    padding: 5px 0 10px 0;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

#menu li a:hover {
    background-color:lightskyblue;
    color: azure;
}

/* header Image */
#headerImg {
    position: relative;
}

#mainBg {
   max-width: 100%;

}

#mainBgText {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

#mainBth {
    max-width: 80%; 
    color:white;
    background-color: lightskyblue;
}

/* about Info */
#aboutInfo {
    text-align: center;
}

#aboutInfo h1 {
    font-family: Helvetica Bold;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin-top: 1em;
}

#aboutInfo p {
    color: grey;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

#aboutInfo img {
    display: block;
    margin: auto;
    margin-top: 1em;
}

#Info {
    text-align: center;
}

#Info h2 {
    margin-top: 2em;
}

#Info p {
    color:grey;
    margin: 0 5% 5% 5%;
}


footer {
    width: 100%;
    height: 50px;
    background: skyblue;
    margin-top: 30px;
}

#footerText {
    color: white;
    text-align: center;
    padding-top: 10px;
}


/* ABOUT PAGE */

#about1 {
    margin-top: 10%;
}


@media screen and (min-width: 20em) {
    #mainBth {
        margin-top: 35%;
    }
    
    #mainBgText h2 {
        font-size: 1.5em;
    }

    #aboutInfo h1 {
        font-size: 1.75em;
        margin-top: 1.5em;
    }

    #aboutInfo p {
        font-size: 0.8em;
        margin-top: 1.5em;
    }
    
    #sidePic1, #sidePic2, #sidePic3, #sidePic4, #sidePic5, #sidePic6 {
        max-width: 30%;
        float: left;
        margin: 5% 5% 10% 5%;
    
    }
    
    #sideInfo1, #sideInfo2, #sideInfo3, #sideInfo4, #sideInfo5, #sideInfo6 {
        margin: 0 3% 10% 0;
        padding-left: 5%;
    
    }
    
}

@media screen and (min-width: 40em) {
    #mainBgText h2 {
        font-size: 2em;
    }

    #mainBth {
        margin-top: 55%;
    }

    #aboutInfo h1 {
        font-size: 2.5em;
        margin-top: 1.5em;
    }

    #aboutInfo p {
        font-size: 1em;
        margin-top: 1.5em;
    }

    #sidePic1, #sidePic2, #sidePic3, #sidePic4, #sidePic5, #sidePic6 {
        max-width: 25%;
        float: left;
        margin: 0 5% 2% 5%;
    
    }
    
    #sideInfo1, #sideInfo2, #sideInfo3, #sideInfo4, #sideInfo5, #sideInfo6 {
        margin: 0 3% 15% 0;
        padding-left: 5%;
    
    }
}


@media screen and (min-width: 64em) {
    #mainBgText h2 {
        font-size: 3em;
    }

    #mainBth {
        margin-top: 60%;
    }

    #aboutInfo h1 {
        font-size: 3em;
        margin-top: 1.5em;
    }

    #aboutInfo p {
        font-size: 1.5em;
        margin-top: 1.5em;
    }

    #sidePic1, #sidePic2, #sidePic3, #sidePic4, #sidePic5, #sidePic6 {
        max-width: 20%;
        float: left;
        margin: 0 5% 10% 5%;
    
    }
    
    #sideInfo1, #sideInfo2, #sideInfo3, #sideInfo4, #sideInfo5, #sideInfo6 {
        margin: 5% 3% 25% 0;
        padding-left: 5%;
    
    }
}